footer
	
	.footer-block
		.container
			.row
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card.pr-40
					.card__title
						h4 địa chỉ văn phỏng
					.card__body
						ul
							li
								span
									i.ri-map-pin-line
								p Địa chỉ: 11 Tân Châu, Phường 8, Tân Bình, TP.HCM
							li
								span
									i.ri-printer-line
								p Điện thoại: 0123 456 789
							li
								span
									i.ri-phone-line
								p Email: info@lamb.com
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 về lamb
					.card__body
						ul
							li
								a(href="") Giới thiệu LamB
							li
								a(href="") Tuyển dụng
							li
								a(href="") Chính sách cho Nhà phân phối
							li
								a(href="") Chính sách cho công tác viên
							li
								a(href="") Chính sách bảo mật thông tin cá nhân
							li
								a(href="") Chính sách giải quyết khiếu nãi
							li
								a(href="") Điều khoản sử dụng
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 liên kết nhanh
					.card__body
						ul
							li
								a(href="") Giới thiệu
							li
								a(href="") Sản phẩm
							li
								a(href="") Khuyến mãi
							li
								a(href="") Tin tức
							li
								a(href="") Liên hệ
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 hỗ trợ khách hàng
					.card__body
						ul
							li
								a(href="") Hotline: 0123 456 789
							li
								a(href="") Các câu hỏi thường gặp
							li
								a(href="") Gửi yêu cầu hỗ trợ
							li
								a(href="") Hướng dẫn mua hàng
							li
								a(href="") Phương thức vận chuyển
							li
								a(href="") Chính sách đổi trả
							li
								a(href="") Hỗ trợ khách hàng: hotro@mrlamb.com
	.footer-copyright
		.container
			.bg-pay
				.pay-link
					.pay-title
						h4 thanh toán
					.pay-item
						ul
							li
								a(href="")
									img(src="./img/zalo.png", alt="")
							li
								a(href="")
									img(src="./img/phone.png", alt="")
							li
								a(href="")
									img(src="./img/fb.png", alt="")
							li
								a(href="")
									img(src="./img/youtube.png", alt="")
				.pay-link
					.pay-title
						h4 mạng xã hội
					.pay-item
						ul
							li
								a(href="")
									img(src="./img/zalo.png", alt="")
							li
								a(href="")
									img(src="./img/phone.png", alt="")
							li
								a(href="")
									img(src="./img/fb.png", alt="")
							li
								a(href="")
									img(src="./img/youtube.png", alt="")
		.container
			.policy-link
				ul
					li
						a(href="#") GPKD số: 0301241545
					li
						a(href="#") Ngày cấp: 26/04/1993
			.copyright
				p © 2020 Mr.LamB. All Rights Reserved. Thiết kế website bởi Cánh Cam.