header
	.container
		.header_top
			.header
				.search
					input.form-control(type='text', placeholder="Tìm kiếm")
			.header
				.img
					img(src="./img/logo.png", alt="")
			.header
				.login
					a(href="") Đăng kí
				.regist
					a(href="") Đăng nhập
				.EN
					a(href="") EN
				.cart
					em.fas.fa-shopping-cart
				em.header_btn.fal.fa-bars
	.header_bot
		.container
			nav
				ul
					li
						a(href="") Giới thiệu
					li
						a(href="") Sản phẩm
					li
						a(href="") Khuyến mãi
					li
						a(href="") Tin tức
					li
						a(href="") Hỗ trợ
					li
						a(href="") Liên hệ
	.menu_mobile
		em.header_btn.fal.fa-times
		.container
			.block_menu
				ul
					li
						a(href="") Giới thiệu
					li
						a(href="") Sản phẩm
					li
						a(href="") Khuyến mãi
					li
						a(href="") Tin tức
					li
						a(href="") Hỗ trợ
					li
						a(href="") Liên hệ
				.block_login
					.login
						a(href="") Đăng kí
					.regist
						a(href="") Đăng nhập
				.search_mobile
					input.form-control(type='text', placeholder="Tìm kiếm")
	.overlay