header
	.banner_header
		.img
			img(src="./img/header_banner.png", alt="")
		//- .close-btn.ri-close-line
	.container
		.header_top
			.header_left
				.searchbox
					input(type="text",placeholder='Tìm kiếm')
					button
						em.fal.fa-search
			.header_logo
				a(href="index.html")
					.img
						img(src="./img/logo.png", alt="")
			.header_right
				.block_login
					.login
						a(href="") Đăng kí
					.regist
						a(href="") Đăng nhập
				.language-wrapper
					.EN
						a(href="") EN
				.cart
					em.fas.fa-shopping-cart
				.moblie-toggle
					em.header_btn.fal.fa-bars
	.header_bot
		.container
			.nav-wrapper
				ul.nav-menu
					li.active
						a(href="about.html") Giới thiệu
					li
						a(href="product-list.html") Sản phẩm
					li
						a(href="promotion.html") Khuyến mãi
					li
						a(href="news-list.html") Tin tức
					li
						a(href="support-client.html") Hỗ trợ
					li
						a(href="contact.html") Liên hệ
	.menu_mobile
		em.header_btn.fal.fa-times
		.mobile-wrapper
	.overlay