header
	.container
		.header_top
			.header
				.search
					input.form-control(type='text', placeholder="Tìm kiếm")
					//- em.fas.fa-search
			.header
				a(href="index.html")
					.img
						img(src="./img/logo.png", alt="")
			.header
				.login
					a(href="") Đăng kí
				.regist
					a(href="") Đăng nhập
				.EN
					a(href="") EN
				.cart
					em.fas.fa-shopping-cart
				.moblie-toggle
					em.header_btn.fal.fa-bars
	.header_bot
		.container
			nav
				ul
					li
						a(href="about.html") Giới thiệu
					li
						a(href="product-list.html") Sản phẩm
					li
						a(href="promotion.html") Khuyến mãi
					li
						a(href="news-list.html") Tin tức
					li
						a(href="support-client.html") Hỗ trợ
					li
						a(href="contact.html") Liên hệ
	.menu_mobile
		em.header_btn.fal.fa-times
		.container
			.block_menu
				ul
					li
						a(href="about.html") Giới thiệu
					li
						a(href="product-list.html") Sản phẩm
					li
						a(href="promotion.html") Khuyến mãi
					li
						a(href="news-list.html") Tin tức
					li
						a(href="support-client.html") Hỗ trợ
					li
						a(href="contact.html") Liên hệ
				.block_login
					.login
						a(href="#") Đăng kí
					.regist
						a(href="#") Đăng nhập
				.search_mobile
					input.form-control(type='text', placeholder="Tìm kiếm")
	.overlay