section.block_s-2
	.container
		.row
			.col-lg-6
				.block_img
					a(href="")
						.card_img-left
							.img
								img(src="./img/home/s-2/1.jpg", alt="")
							.sale
								img(src="./img/product/sale.png", alt="")
						.content-product
									.name_product
										a(href="") Áo Thun Nam Tay Dài Regular 
									.price
										p 400.000 VND
									.discount
										p 500.000 VND
			.col-lg-6
				.row
					-for(i=0;i<=3;i++)
						.col-sm-6.col-lg-6.col-xs-6
							.block_img
								a(href="")
									.card_img
										.img
											img(src="./img/product/1.png", alt="")
									.content-product
												.name_product
													a(href="") Áo Thun Nam Tay Dài Regular 
												.price
													p 400.000 VND
												.discount
													p 500.000 VND