section.block_product-home-3
	.container
		.block-title
			.head-title
				h2 chương trình khuyến mãi
		.product-home-3-swiper-wrapper
			.nav-arrow-prev
				em.fal.fa-chevron-left
			.nav-arrow-next
				em.fal.fa-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.block-item
								.item__img
									a(href="")
										img(src="./img/home/product-1/product-h-1.png", alt="")
								.item__img-hover
									.content
										.more-view
											a(href="") Xem chi tiết
					.swiper-slide
						.wrapper
							.block-item
								.item__img
									a(href="")
										img(src="./img/home/product-1/product-h-1.png", alt="")
								.item__img-hover
									.content
										.more-view
											a(href="") Xem chi tiết
					.swiper-slide
						.wrapper
							.block-item
								.item__img
									a(href="")
										img(src="./img/home/product-1/product-h-1.png", alt="")
								.item__img-hover
									.content
										.more-view
											a(href="") Xem chi tiết
