section.block_product-home-1
	.container
		.head-title-zone
			.title
				ul
					li.active
						a(href="") THỜI TRANG MỸ
					li 
						a(href="") THỜI TRANG ANH
					li 
						a(href="") THỜI TRANG ĐỨC
		.head-menu
			.tab-panels
				ul.tab-navigation
					li.active
						a(href="javascript:void(0)" data-type='product-tab-1') Áo sơ mi công sở
					li 
						a(href="javascript:void(0)" data-type='product-tab-2') áo sơ mi đi chơi
					li 
						a(href="javascript:void(0)" data-type='product-tab-3') Áo thun
					li 
						a(href="javascript:void(0)" data-type='product-tab-4') Áo khoác
					li 
						a(href="javascript:void(0)" data-type='product-tab-5') Quần short
					li 
						a(href="javascript:void(0)" data-type='product-tab-6') Quần Jean
					li 
						a(href="javascript:void(0)" data-type='product-tab-7') Phụ kiện
		.tab-wrapper.trinity-item-swiper
			.tab-item#product-tab-1
				.slide-product
					.nav-arrow-prev
						em.fal.fa-angle-left
					.nav-arrow-next
						em.fal.fa-angle-right
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<=9;i++)
								.swiper-slide
									.home-product-slide
										a(href="")
											.card_img
												.img
													img(src="./img/home/product-1/ao-1.png", alt="")
												.sale
													img(src="./img/product/sale.png", alt="")
											.content-product-silde
												.name_product
													a(href="") Áo Thun Nam Tay Dài Regular 
												.price
													p 400.000 VND
												.discount
													p 500.000 VND
			.tab-item#product-tab-2
				.slide-product
					.nav-arrow-prev
						em.fal.fa-angle-left
					.nav-arrow-next
						em.fal.fa-angle-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.home-product-slide
									a(href="")
										.card_img
											.img
												img(src="./img/home/product-1/ao-1.png", alt="")
											.sale
												img(src="./img/product/sale.png", alt="")
										.content-product-silde
											.name_product
												a(href="") Áo Thun Nam Tay Dài Regular 
											.price
												p 400.000 VND
											.discount
												p 500.000 VND
			.tab-item#product-tab-3
				.slide-product
					.nav-arrow-prev
						em.fal.fa-angle-left
					.nav-arrow-next
						em.fal.fa-angle-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.home-product-slide
									a(href="")
										.card_img
											.img
												img(src="./img/home/product-1/ao-1.png", alt="")
											.sale
												img(src="./img/product/sale.png", alt="")
										.content-product-silde
											.name_product
												a(href="") Áo Thun Nam Tay Dài Regular 
											.price
												p 400.000 VND
											.discount
												p 500.000 VND
		


