section.block_news-event
	.container
		.block-title
			.head-title
				h2 tin tức và sự kiện
		.news-event-swiper-wrapper
			.nav-arrow-prev
				em.fal.fa-angle-left
			.nav-arrow-next
				em.fal.fa-angle-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper.zoom-in
							a(href="#")
								img(src="./img/home/event/1.png", alt="")
						.caption_slide
							.title_slide
								a(href="") Sơ mi hot trend "mùa hè cho phái mạnh"
					.swiper-slide
						.wrapper.zoom-in
							a(href="#")
								img(src="./img/home/event/2.png", alt="")
						.caption_slide
							.title_slide
								a(href="") Sơn Tùng chi 1,5 tỷ cho trang phục ở MV mới
					.swiper-slide
						.wrapper.zoom-in
							a(href="#")
								img(src="./img/home/event/3.png", alt="")
						.caption_slide
							.title_slide
								a(href="") ELLE MAN Style Calendar - Năng động và thanh lịch với phong cách sporty-chic