section.form
	.container
		.row
			.col-12.col-md-3.col-lg-3
			.col-12.col-md-9.col-lg-9
				.text-form
					p câu hỏi khác
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text', placeholder="Họ và tên")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Email")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Số điện thoại")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Tiêu đề")
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='3',placeholder="Nội dung đặt câu hỏi")
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="GỬI")