section.block_material
	.container
		.row
			.col-lg-4
				.material-product
					.title-material
						h2 linen - chất thanh thoát giữa ngày hè nóng bực
					.content-material
						p Mùa hè mặc vãi gì mát nhất? Câu hỏi mà hầu hết mọi người quan tâm khi cái nắng hanh khô của mùa hè khiến ai nấy vô cùng khó chịu. Hãy cùng MrLamb khám phá ngay loại vải mát hơn cả cotton khiến phái mạnh quên ngay sự nóng bức, thanh thoát cơ thể trong mùa này nhé!
					.btn-view-more
						a(href="") Tìm hiểu thêm