*
    padding: 0
    margin: 0
    box-sizing: border-box
    &:focus
        outline: none !important
body
    font-size: 16px
main
    padding-top: 205px
    @media screen and ( max-width: 1024.98px )
        padding-top: 80px
    @media screen and ( max-width: 576px )
        padding-top: 80px
.container
    max-width: 1230px

.center
	display: flex
	justify-content: center
	align-items: center
.flex-center
	display: flex
	align-items: center
	justify-content: center
.flex-end
	display: flex
	align-items: center
	justify-content: flex-end
.flex-start
	display: flex
	align-items: center
	justify-content: flex-start
.flex-space
	display: flex
	align-items: center
	justify-content: space-between

.account-wrapper
	display: flex
	align-items: center

	.wrap
		display: flex
		flex-direction: column
		justify-content: center
		align-content: flex-end
	.logout
		font-size: 14px
		font-weight: 300
		display: inline-block
		padding: 0 2px
		transition: .3s all  ease-in-out
		color: #333333
		&:hover
			text-decoration: underline
	.account-icon
		em
			color: #333333
			font-size: 24px
			height: 20px
			line-height: 24px
		
		span
			font-size: 14px
			font-weight: 300
	ul
		display: flex 
		justify-content: center
		align-items: center
		li
			display: flex 
			justify-content: center
			align-items: center
			&:first-child
				a
					display: flex 
					justify-content: center
					align-items: center
					&:after
						
						color: #333333
						display: inline-block
						content: '/'
						margin-left: 5px
						font-size: 14px
						margin-bottom: 5px
						margin-left: 6px
						padding-right: 0
			&:hover
				a
					text-decoration: underline
			a
				font-size: 14px
				font-weight: 300
				display: inline-block
				padding: 0 2px
				transition: .3s all  ease-in-out
				color: #333333
.scroll-wrapper
	height: 330px
	padding-right: 15px
	overflow-y: auto
	scrollbar-width: thin
	scrollbar-color: #00415f #cccccc
	line-height: 1.5
	text-align: justify
	&::-webkit-scrollbar
		background: #cccccc
		width: 3px
	&::-webkit-scrollbar-track
		-webkit-box-shadow: inset 0 0 6px #cccccc
		background-color: #cccccc
	&::-webkit-scrollbar-thumb
		background-color: #00415f
	@media screen and ( max-width:1024px)
		height: 330px
