<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->
 <templatelist xsltname="About.xslt" name="Giới thiệu"></templatelist>
 <templatelist xsltname="Support.xslt" name="Hỗ trợ"></templatelist>
  <templatelist xsltname="Discount.xslt" name="Danh sách Khuyến mãi"></templatelist>
  <templatelist xsltname="News-List.xslt" name="Danh sách Tin tức "></templatelist>
  <templatedetail xsltname="Discount-Detail.xslt" name="Khuyến mãi Chi tiết"></templatedetail>
  <templatedetail xsltname="News-Detail.xslt" name="Tin tức Chi tiết"></templatedetail>
  <position>
    <add name="Home - Discount" value="1" resourcefile="" />
    <add name="Home - News" value="2" resourcefile="" />
  </position>
</templates>