section.block_product-home-2
	.container
		.head-title-zone
			.title
				ul
					li.active
						a(href="") SẢN PHẨM KHUYẾN MÃI
					li 
						a(href="") SẢM PHẨM MỚI
		.row
			.col-12.col-md-6.col-lg-6
				.block_img
					a(href="")
						.card_img-left
							.img
								img(src="./img/home/product-1/ao-2.png", alt="")
							.sale
								img(src="./img/product/sale.png", alt="")
					.content-product
						.name_product
							a(href="") Áo Thun Nam Tay Dài Regular 
						.price
							p 400.000 VND
						.discount
							p 500.000 VND
			.col-12.col-md-6.col-lg-6
				.row
					-for(i=0;i<=3;i++)
						.col-sm-6.col-lg-6.col-xs-6
							.block_img_right
								a(href="")
									.card_img
										.img
											img(src="./img/home/product-1/ao-1.png", alt="")
								.content-product
									.name_product
										a(href="") Áo Thun Nam Tay Dài Regular 
									.price
										p 400.000 VND
									.discount
										p 500.000 VND