section.block_about
	.container
		.block-title
			.head-title
				h1 giới thiệu
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/about/about-1.png" alt="")
			.col-12.col-md-6.col-lg-6
				.about
					.title-about
						h2 Về chúng tôi
					.text-about
						p Mr.Lamb - thương hiệu thời trang đồng hành cùng các "Mr".Bạn biết không? Một "Mr Thu Hút" là nguồi - dù có khoác áo lên mình bất cứ thứ gì, cũng mang đến cảm giác lịch sự và lịch lãm với người đối diện. Và đó cũng chính là tiêu chí của Mr.Lamb khi phục vụ các khách hàng đến với mình và biến họ thành những "Quý ông cụ non". Chẳng phải một người đàn ông hấp dẫn hơn khi họ có dáng vẻ của một chú cừu lịch lãm và mang tâm hòn của một chú sói tinh dưỡng hay sao?
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/about/about-2.png" alt="")
			.col-12.col-md-6.col-lg-6
				.about
					.title-about
						h2 Vì sao chọn chúng tôi
					.text-about
						ul
							li
								p Với thiết kế kinh doanh "Chia sẽ sự giàu có và hành phúc", TVC đặt việc chia làm tôn chí trong hành động và là sứ mệnh của chúng tôi
							li
								p Bên cạnh chia sẽ cơ hội đầu tư bằng việc bán sản phẩm đã hoàn thành, có giấy tờ hợp pháp lý rõ ràng, đáng tin cậy, chúng tôi còn chia sẽ kiến thức về đầu tư bất động sản. Hơn thế nữa, chúng tôi là một cộng đồng chia sẽ yêu thương chính trực, chân thành.
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/about/about-3.png" alt="")
			.col-12.col-md-6.col-lg-6
				.about
					.title-about
						h2 Triết lý kinh doanh
					.text-about
						ul
							li
								p Với thiết kế kinh doanh "Chia sẽ sự giàu có và hành phúc", TVC đặt việc chia làm tôn chí trong hành động và là sứ mệnh của chúng tôi
							li
								p Bên cạnh chia sẽ cơ hội đầu tư bằng việc bán sản phẩm đã hoàn thành, có giấy tờ hợp pháp lý rõ ràng, đáng tin cậy, chúng tôi còn chia sẽ kiến thức về đầu tư bất động sản. Hơn thế nữa, chúng tôi là một cộng đồng chia sẽ yêu thương chính trực, chân thành.