section.block_product
	.container
		.block-title
			.head-title 
				h1 Sản phẩm
		.row
			.col-xl-3.col-md-4
				.block_title_product
					.title_product
						h2 Danh mục sản phẩm
				ul.block_collapsible
					li
						a.collapsible THỜI TRANG NAM
						ul.content
							li
								a.menu-2 Áo khoác
								ul.content_2
									- for (i=1; i<=6; i++)
										li
											a Áo thun tay dài
							li
								a Áo khoác
					li
						a.collapsible Phụ kiện
						ul.content
							li
								a Giày