extends _layout.pug

block var
	- var title = 'Danh sách sản phẩm'
	- var bodyClass = 'product-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/product/index.pug