extends _layout.pug

block var
	- var title = 'Khuyến mãi chi tiết'
	- var bodyClass = 'promotion-detail-page'

block main
	include ../components/breadcrumb/index.pug
	include ../components/promotion/promotion-detail/index.pug