section.block_news-list
	.container
		.block-title
			.head-title 
				h1 tin tức
		.head-title-zone
			.title
				ul
					li
						a(href="") Tin tức thời trang
					li 
						a(href="") Tin tức công ty
					li 
						a(href="") Tuyển dụng