section.block_news-list
	.container
		.block-title
			.head-title 
				h1 tin tức
		.head-title-zone
			.title
				ul
					li.active
						a(href="") Tin tức thời trang
					li 
						a(href="") Tin tức công ty
					li 
						a(href="") Tuyển dụng
		.row
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-1.png", alt="")
					.content-news
						.title_news
							a(href="") Sơ mi hot trend mùa hè cho phái mạnh
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-2.png", alt="")
					.content-news
						.title_news
							a(href="") Điểm danh 10 thương hiệu mùa hè chú ý 2020
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-3.png", alt="")
					.content-news
						.title_news
							a(href="") Sơn Tùng MT-P chi 1,5 tỷ cho MV mới
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-4.png", alt="")
					.content-news
						.title_news
							a(href="") ELLE Man Style Calendar: Năng Động và thanh lịch với phong cách sporty-chic
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-5.png", alt="")
					.content-news
						.title_news
							a(href="") Phụ kiện nam nên có cho phong cách mùa hè 2020
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-6.png", alt="")
					.content-news
						.title_news
							a(href="") Sơ mi hot trend mùa hè cho phái mạnh
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-7.png", alt="")
					.content-news
						.title_news
							a(href="") ELLE Man Style Calendar: Năng Động và thanh lịch với phong cách sporty-chic
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-8.png", alt="")
					.content-news
						.title_news
							a(href="") Phụ kiện nam nên có cho phong cách mùa hè 2020
			.col-12.col-md-6.col-lg-4
				.item-news
					.card_img.zoom-in
						.img
							img(src="./img/news/news-3.png", alt="")
					.content-news
						.title_news
							a(href="") Sơn Tùng MT-P chi 1,5 tỷ cho MV mới