section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/banner-2.png", alt="")
					.caption
						h2.title-caption mr.lamb 
						h2.title-caption thương hiệu thời trang đồng hành cùng các "quý ông"
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/banner-1.png", alt="")
					.caption
						h2.title-caption
			.swiper-pagination.home-banner-pagination
