section.block_product-detail
	.container
		.row
			.col-7
			.col-xl-5.col-sm-12
				.block_description
					.name_product
						h2 Áo Thun Nam Tay Dài Regular
					.block_price
						.price
							p 400.000 đ
						.discount
							p 500.000 đ
						.link
							a(href="").material-icons link
					.description
						.title_description
							p Tình trạng
						.content_status
							p Còn hàng
					.description
						.title_description
							p Mã sản phẩm
						.content_description
							p 10F19SWE005
					.description
						.title_description
							p Chất liệu
						.content_description
							p 52% cotton, 48% polyester.
					.description
						.title_description
							p Đặc tính
						.content_description
							p Cảm giác mềm mại, thoải mái, có độ thấm hút tốt, chống nhăn cao và tránh bám bụi.
					.description
						.title_description.center
							p Kích thước
						.content_size
							ul
								li
									.size.active S
								-for(i=0;i<=4;i++)
									li
										.size XXL
					.description
						.title_description
							p Màu sắc
						.content_color
							ul
								li.active
									.color
								li
									.color
								li
									.color
					.description
						.title_description.center
							p Số lượng
						.content_number
							a.add-to-card(href="http://") Thêm giỏ hàng