section.block_s-1
	.container
		.head-title-zone
			.title
				ul
					li
						a(href="") THỜI TRANG MỸ
					li 
						a(href="") THỜI TRANG ANH
					li 
						a(href="") THỜI TRANG ĐỨC
		.head-menu
			ul.link-to-about-section
				li 
					a(href="#") Tổng quan
				li 
					a(href="#") Lịch sử phát triển
				li 
					a(href="#") Tầm nhìn - Sứ mệnh
				li 
					a(href="#") Giá trị cốt lỗi
				li 
					a(href="#") Đội ngũ phát triển

		.slide-product
			.nav-arrow-prev
				em.fal.fa-angle-left
			.nav-arrow-next
				em.fal.fa-angle-right
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<=9;i++)
						.swiper-slide
							.big-product
								a(href="")
									.card_img
										.img
											img(src="./img/product/1.png", alt="")
										.sale
											img(src="./img/product/sale.png", alt="")
									.content-product
										.name_product
											a(href="") Áo Thun Nam Tay Dài Regular 
										.price
											p 400.000 VND
										.discount
											p 500.000 VND
		


