section.block_s-1
	.container
		.head-title-zone
			.title
				ul
					li
						a(href="") THỜI TRANG MỸ
					li 
						a(href="") THỜI TRANG ANH
					li 
						a(href="") THỜI TRANG ĐỨC
		.head-menu
			ul.link-to-about-section
				li 
					a(href="#") Tổng quan
				li 
					a(href="#") Lịch sử phát triển
				li 
					a(href="#") Tầm nhìn - Sứ mệnh
				li 
					a(href="#") Giá trị cốt lỗi
				li 
					a(href="#") Đội ngũ phát triển
		


