<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<position>
		<add name=" Trang chủ - Sản phẩm khuyến mãi" value="1" resourcefile="" />
		<add name=" Trang chủ - Sản phẩm mới" value="2" resourcefile="" />
	</position>
	
	<showoption name="Mới" value="1" class="promotion op1" />
	<showoption name="Khuyến mãi" value="2" class="promotion op2" />
	  <showoption name="Bán chạy" value="4" class="promotion op3" />


	<templatelist xsltname="Product-List.xslt" name="Danh sách Sản phẩm" />

	<templatedetail xsltname="Product-Detail.xslt" name="Chi tiết Sản phẩm" />
</templates>