section.block_promotion
	.container
		.block-title
			.head-title 
				h1 khuyến mãi
		.row
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") Sơ mi hot trend mùa hè cho phái mạnh
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") Điểm danh 10 thương hiệu mùa hè chú ý 2020
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") Sơn Tùng MT-P chi 1,5 tỷ cho MV mới
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") ELLE Man Style Calendar: Năng Động và thanh lịch với phong cách sporty-chic
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") Phụ kiện nam nên có cho phong cách mùa hè 2020
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") Sơ mi hot trend mùa hè cho phái mạnh
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") ELLE Man Style Calendar: Năng Động và thanh lịch với phong cách sporty-chic
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") Phụ kiện nam nên có cho phong cách mùa hè 2020
			.col-12.col-md-6.col-lg-4
				.item-promotion
					.card_img.zoom-in
						.img
							img(src="./img/news/news-promotion-1.png", alt="")
					.content-promotion
						.title_promotion
							a(href="") Sơn Tùng MT-P chi 1,5 tỷ cho MV mới