section.block_support
	.container
		.block-title
			.head-title
				h1 hỗ trợ
		.row
			.col-12.col-md-3.col-lg-3
				.left-support
					.title-sp
						h2 hỗ trợ
					.content-sp
						ul
							li
								a(href="") Phương thức thanh toán
							li
								a(href="") Hướng dẫn đổi trả hàng

			.col-12.col-md-9.col-lg-9
				.sp-client
					.title-sp
						h2 hướng dẫn đổi trả hàng
					ul.big-togglesupport
						li
							a.togglesupport 01. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
									p Nếu đã hết size cho mẫu đó, quý khách sẽ được quyền đổi sang mãu khác
									p Nếu sản phẩm không lỗi từ phía nhà sản xuất, Mr.Lamb xin phép không nhận trả hàng
						li
							a.togglesupport 02. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						li
							a.togglesupport 03. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						li
							a.togglesupport 04. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						li
							a.togglesupport 05. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						li
							a.togglesupport 06. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						li
							a.togglesupport 07. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						li
							a.togglesupport 08. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						li
							a.togglesupport 09. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						li
							a.togglesupport 10. Tôi có thể đổi trả hàng không?
							.content
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
				//- .right-support
					.card-title 
						h2 hướng dẫn đổi trả hàng
					.support-wrapper
						.toggle-item
							.title
								span 01. Tôi có thể đổi trả hàng không?? 
								em.ri-arrow-down-s-line
							article
								.caption
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
									p Nếu đã hết size cho mẫu đó, quý khách sẽ được quyền đổi sang mãu khác
									p Nếu sản phẩm không lỗi từ phía nhà sản xuất, Mr.Lamb xin phép không nhận trả hàng
						.toggle-item
							.title
								span 02. Tôi có thể đổi ở đâu?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						.toggle-item
							.title
								span 03. Liệu tôi có phải trả bất kỳ khoản chi phí nào không?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						.toggle-item
							.title
								span 04. Thời hạn để thực hiện đổi hàng?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						.toggle-item
							.title
								span 05. Trường hợp nào được quyền trả hàng?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						.toggle-item
							.title
								span 06. Tôi có thể đổi ở đâu?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						.toggle-item
							.title
								span 07. Liệu tôi có phải trả bất kỳ khoản chi phí nào không?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						.toggle-item
							.title
								span 08. Liệu tôi có phải trả bất kỳ khoản chi phí nào không?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						.toggle-item
							.title
								span 09. Liệu tôi có phải trả bất kỳ khoản chi phí nào không?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.
						.toggle-item
							.title
								span 10. Các sản phẩm có bảo hành không?
								em.ri-arrow-down-s-line
							article
								.caption 
									p Khi sai quần áo không phù hợp, quý khách sẽ được đổi sang size khác.

