section.check-out.finish
	.container
		.admin-wrap
			.admin-title 
				.text
					em.fas.fa-check-circle
					| Dat hang thanh cong
			.row
				.col-12.col-lg-5
					.image-wrapper
						img(src="./img/thank.png", alt="")
				.col-12.col-lg-7
					.wrap-text
						.caption
							p Mã Đơn hàng của bạn là: 
								span.order-id #200520001
							p Hiện tại đơn hàng của bạn đang được xử lý.
							p Thông tin chi tiết đơn hàng sẽ được gửi đến hộp thư của bạn: 
								a bangtam@gmail.com

							p
								strong Mọi thắc mắc xin vui lòng liên hệ:
							p Hotline:
								span.phone  0888054168
							p Email:
								a(href="#")  support@anphuoc.com.vn

							p Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được xử lý trong thời gian sớm nhất. Chúng tôi sẽ liên hệ lại với bạn để xác nhận yêu cầu và giao hàng.
						.btn-left
							a(href="#").btn.btn-primary
								span Tiep tuc mua hang
								em.fas.fa-chevron-right
