section.block_product
	.container
		.block-title
			.head-title 
				h1 Sản phẩm
		.row
			.col-xl-3.col-md-4
				.side-navigation-wrapper
					.title-wrapper
						h2 danh mục sản phẩm
					ul.side-navigation
						li.open
							.title
								a(href="#") thời trang nam
								em.ri-arrow-down-s-line
							ul.nav-sub
								li
									.title-2
										a(href="#") Áo sơ mi
										em.ri-arrow-down-s-line
								li
									.title-2
										a(href="#") Áo thun
										em.ri-arrow-down-s-line
									ul.nav-sub-2
										li
											a(href="") Áo thun tay dài
										li
											a(href="") Áo thun tay ngắn
								li
									.title-2
										a(href="#") Áo khoác
										em.ri-arrow-down-s-line
								li
									.title-2
										a(href="#") Quần
										em.ri-arrow-down-s-line
								
						li
							.title
								a(href="") phục kiện
								em.ri-arrow-down-s-line
							ul.nav-sub
								li
									a(href="#") Dây nịt
								li
									a(href="#") Giày
								li
									a(href="#") Nón


				.block_title_nation
					.title_nation
						h2 Quốc gia
				.block_nation
					ul
						li.checkbox
							input(type='checkbox' checked="checked")
							span Mỹ
						li.checkbox
							input(type='checkbox')
							span Đức


			.col-xl-9.col-md-8
				.block_name_category
					.name_category
						h3 Áo thun tay dài
					.display 
						p Hiển thị
						select
							option 10
							option 12
							option 13
						select.sort
							option(selected="true" disabled="disabled") Sắp xếp theo
							option Mới nhất
							option A & Z
				.row
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="product-detail.html")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="product-detail.html") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="")
								.card_img
									.img
										img(src="./img/product/2.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="")
								.card_img
									.img
										img(src="./img/product/3.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="")
								.card_img
									.img
										img(src="./img/product/2.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="")
								.card_img
									.img
										img(src="./img/product/1.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="")
								.card_img
									.img
										img(src="./img/product/2.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND
					.col-xl-4.col-sm-6.col-xs-6
						.big-product
							a(href="")
								.card_img
									.img
										img(src="./img/product/3.png", alt="")
									.sale
										img(src="./img/product/sale.png", alt="")
							.content-product
								.name_product
									a(href="") Áo Thun Nam Tay Dài Regular 
								.price
									p 400.000 VND
								.discount
									p 500.000 VND


